body{
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3A6C99;
}

.wrapper{
    display: grid;
    grid-template-rows: 120px auto 180px;   
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmobile{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hstyle .material-icons{
    font-size: 50px;
}

.menu .material-icons{
    font-size: 50px;
    margin: 20% 0 0 20%;
}

.logo{
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    background-color: black;
    color: white;
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sok .material-icons{
    font-size: 50px;
    margin: 20% 0 0 40%;
}

.hstyle{
    height: 120px;
    width: 120px;
    background-color: #006DCC;
    color: white;
}

.menu{
    border-bottom-right-radius: 100%;
}

.sok{
    border-bottom-left-radius: 100%;
}

.mainindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.cirkelcontent{
    background-color: black;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 10px 10px 10px;
    border: solid #CC6964 2px;
}

.cirkelcontent:hover{
    border-radius: 0;
}

.cirkelcontent:nth-child(1){
    background-image: url(../img/produkt_framsida@90x90.jpg);
}

.cirkelcontent:nth-child(3){
    background-image: url(../img/gOchVG@90x90.jpg)
}

.cirkelcontent:nth-child(3):hover{
    background-image: url(../img/gOchGG@90x90.jpg)
}


.cirkelcontent:nth-child(4){
    background-image: url(../img/ägg@90x90.jpg);
}

.cirkelcontent:nth-child(4):hover{
    background-image: url(../img/drake@90x90.jpg);
}

.cirkelcontent:nth-child(5){
    background-image: url(../img/avatar@90x90.jpg);
}

.cirkelcontent:nth-child(5):hover{
    background-image: url(../img/karen@90x90.jpg);
}

.nunna{
    display: none;
}

.logodesktop{
    display: none;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    transition: 2s;
}

.fade-layer.visible{
    pointer-events: all;
    transition-delay: 0.5s;
    background-color: rgba(0,0,0,0.4);
}

.burgercontainer{
    height: 390px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    position: absolute;
    bottom: 180px;
    right: 230px;
    z-index: 100000000000000000;
}


.burgarknappar{
    height: 90px;
    border-radius: 50%;
    width: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.flytta{
    position: inherit;
    top: 100px;
    left: 180px;
    height: 110px;
    width: 110px;
}

.flytta:hover{
    padding: 13% 0 13% 0;
    width: 110px;
    height: 170px;
    border-radius: 100px / 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.flytta div{
    display: none;
}
.flytta:hover div{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.hammenu{
    position: fixed;
    z-index: 100000000;
    top: -600px;
    left: -1200px;
    overflow: hidden;
    background-color: #CC6964;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    transition: 1s;
}

.delay{
    left: -800px;
    transition-delay: 0.5s;
}

footer{
    padding-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8%;
    background-color: #006DCC;
    -webkit-clip-path: ellipse(60% 99% at 50% 100%);
    clip-path: ellipse(60% 99% at 50% 100%);
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bild{
    background-image: url(../img/prollebild.png);
    height: 180px;
    width: 180px;
    margin-top: 10%; 
    margin-right: -18%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.abouttext{
    background-color: rgb(66, 155, 233);
    font-size: 20px;
    margin-top: 10%;
    margin-left: -18%;
    height: 180px;
    width: 180px;
    -webkit-clip-path: polygon(99% 100%, 0 100%, 100% 0);
    clip-path: polygon(99% 100%, 0 100%, 100% 0);
    font-size: 17px;
}

.aboutmain{
    display: flex;
    justify-content: center;
}

.adidas{
    z-index: 10000;
    position: absolute;
    right: 20%;
}

.text1{
    top: 48%;
}

.text2{
    top: 43%;
}

.text3{
    top: 37%;
}

.text4{
    top: 32%;
}

.footerabout{
    margin-top: 44%;
}

.mainprodukt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.produkt{
    margin: 5% 0 0 0;
    width: 280px;
    height: 350px;
    background-color: black;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.produktcontainer{
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 270px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 270px;
}

@media only screen and (min-width : 900px){

.db{
    display: block;
}

.wrapper{
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 400px auto 400px;
    grid-template-areas: 
    "h m f";
}

.hdesktop{
    position: fixed;
    background-color: #006DCC;
    height: 100%;
    width: 400px;
}

.containerdesktop{
    background-color: rgb(66, 155, 233);
    height: 92%;
    width: 85%;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 40px;
    border: solid #CC6964 2px;
}

.headerdesktoptext{
    color: white;
    font-size: 40px;
}

.behollare{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainindex{
    grid-area: m;
    justify-content: space-around;
    padding-top: 40%;
}

footer{
    position: fixed;
    height: 100%;
    width: 360px;
    left: 76.5%;
    padding-top: 0;
    margin-top: 0;
    -webkit-clip-path: ellipse(100% 92% at 100% 50%);
    clip-path: ellipse(100% 92% at 100% 50%);
    justify-content: space-around;
}

.hstyle{
    height: 360px;
    width: 90%;
    background-color: #006DCC;
    color: white;
}

.sok{
    display: none;
}

.menu{
    display: none;
}

.mainprodukt{
    grid-area: m;
}

.cirkelcontent{
    margin: 0 10px 10% 10px;
    height: 220px;
    width: 220px;
    transition: 0.3s;
}

.cirkelcontent:nth-child(1){
    background-image: url(../img/produkt_framsida@220x220.jpg);
}

.cirkelcontent:nth-child(1):hover{
    background-image: url(../img/produkt_baksida@220x220.jpg);
}

.cirkelcontent:nth-child(3){
    background-image: url(../img/gOchVG@220x220.jpg);
}

.cirkelcontent:nth-child(3):hover{
    background-image: url(../img/gOchGG@220x220.jpg);
}

.cirkelcontent:nth-child(4){
    background-image: url(../img/ägg@220x220.jpg);
}

.cirkelcontent:nth-child(4):hover{
    background-image: url(../img/drake@220x220.jpg);
}

.cirkelcontent:nth-child(5){
    background-image: url(../img/avatar@220x220.jpg);
}

.cirkelcontent:nth-child(5):hover{
    background-image: url(../img/karen@220x220.jpg);
}

.desktopnunna{
    display: none;
}

.logodesktop{
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    display: flex;
    position: absolute;
    height: 150px;
    width: 360px;
    color: white;
    background-color: black;
    top: 10%;
}

.produktlogo{
    left: 38%;
}

.produkt{
    margin: 30% 10px 0 0;
    width: 380px;
    height: 490px;
    background-color: black;   
}

.produktcontainer{
    height: 470px;
    width: 360px;
    max-width: 360px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
}

.nunnaidesktop{
    display: none;
}

.hmobile{
    display: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bild{
    margin: 40% -40% 0 0;
    height: 270px;
    width: 270px;
    background-color: rgb(66, 155, 233);
    background-image: none;
}

.abouttext{
    height: 270px;
    width: 270px;
    margin: 40% 0 0 -40%;
    background-image: url(../img/prolledesktop.png);
    overflow: hidden;
}

.aboutmain{
    grid-area: m;
}

.nike{
    display: block;
    font-size: 26px;
    position: absolute;
    left: 52%;
    z-index: 20000000;
    color: white;
}

.dtext1{
    top: 40%; 
}

.dtext2{
    top: 46%;
}

.dtext3{
    top: 53%;
}

.dtext4{
    top: 60%;
}

}