body{
    margin: 0;
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-rows: 120px auto auto;

}

header{
    display: flex;
    justify-content: space-between;
}

.hstyle{
    height: 120px;
    width: 120px;
    background-color: blue;
    color: white;
    /* VARFÖR KAN JAG INTE ÄMDRA FONT SIZE */
}

.menu{
    border-bottom-right-radius: 100%;
}

.sok{
    border-bottom-left-radius: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.cirkelcontent{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    margin: 0 3% 3% 3%;
}

.cirkelcontent:hover{
    border-radius: 0;
}

.underkategori{

}

.nunna{
    display: none;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.fade-layer.visible{
    display: block;
}

.burgercontainer{
    height: 390px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    position: inherit;
    top: 30px;
    left: 35px;
    z-index: 10;
}


.burgarknappar{
    height: 90px;
    border-radius: 50%;
    width: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.flytta{
    position: inherit;
    top: 100px;
    left: 180px;
    height: 110px;
    width: 110px;
}


/* ---------------------Det som händer vid hover vill jag ska hända vid onclick */
.flytta:hover{
    padding: 8% 0 8% 0;
    width: 110px;
    height: 200px;
    border-radius: 100px / 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

a{
    text-decoration: none;
    color: black;
}



.hammenu{
    position: fixed;
    z-index: 2;
    top: -600px;
    left: -800px;
    background-color: orange;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
}

footer{
    padding-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8%;
    background-color: blue;
    -webkit-clip-path: ellipse(60% 99% at 50% 100%);
    clip-path: ellipse(60% 99% at 50% 100%);
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}


