body{
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3A6C99;
}

.wrapper{
    display: grid;
    grid-template-rows: 120px auto 180px;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmobile{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hstyle .material-icons{
    font-size: 50px;
}

.menu .material-icons{
    font-size: 50px;
    margin: 20% 0 0 20%;
}

.logo{
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    background-color: black;
    color: white;
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sok .material-icons{
    font-size: 50px;
    margin: 20% 0 0 40%;
}

.hstyle{
    height: 120px;
    width: 120px;
    background-color: #006DCC;
    color: white;
}

.menu{
    border-bottom-right-radius: 100%;
}

.sok{
    border-bottom-left-radius: 100%;
}

.mainindex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.cirkelcontent{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: black;
    margin: 0 3% 3% 3%;
}

.cirkelcontent:hover{
    border-radius: 0;
}

.underkategori{
    
}

.nunna{
    display: none;
}

.logodesktop{
    display: none;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.fade-layer.visible{
    display: block;
}

.burgercontainer{
    height: 390px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    position: inherit;
    top: 30px;
    left: 35px;
    z-index: 10;
}


.burgarknappar{
    height: 90px;
    border-radius: 50%;
    width: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.flytta{
    position: inherit;
    top: 100px;
    left: 180px;
    height: 110px;
    width: 110px;
}


/* ---------------------Det som händer vid hover vill jag ska hända vid onclick */
.flytta:hover{
    padding: 13% 0 13% 0;
    width: 110px;
    height: 170px;
    border-radius: 100px / 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.flytta div{
    display: none;
}
.flytta:hover div{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

.hammenu{
    position: fixed;
    z-index: 100000000;
    top: -600px;
    left: -800px;
    background-color: #CC6964;
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
}

footer{
    padding-top: 20px;
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8%;
    background-color: #006DCC;
    -webkit-clip-path: ellipse(60% 99% at 50% 100%);
    clip-path: ellipse(60% 99% at 50% 100%);
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bild{
    background-image: url(../img/prollebild.png);
    height: 180px;
    width: 180px;
    margin-right: -18%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.abouttext{
    background-color: aqua;
    font-size: 20px;
    margin-left: -18%;
    height: 180px;
    width: 180px;
    -webkit-clip-path: polygon(99% 100%, 0 100%, 100% 0);
    clip-path: polygon(99% 100%, 0 100%, 100% 0);
    font-size: 17px;
}

.aboutmain{
    display: flex;
    justify-content: center;
}

.adidas{
    z-index: 10000;
    position: absolute;
    right: 20%;
}

.text1{
    top: 41%;
}

.text2{
    top: 36%;
}

.text3{
    top: 31%;
}

.text4{
    top: 27%;
}

.footerabout{
    margin-top: 44%;
}

@media only screen and (min-width : 900px){
.wrapper{
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 400px auto 400px;
    grid-template-areas: 
    "h m f";
}

.hdesktop{
    display: flex;
}

.mainindex{
    grid-area: m;
    justify-content: space-around;
    padding-top: 40%;
}

footer{
    position: fixed;
    height: 100%;
    width: 360px;
    left: 76.5%;
    padding-top: 0;
    margin-top: 0;
    -webkit-clip-path: ellipse(100% 92% at 100% 50%);
    clip-path: ellipse(100% 92% at 100% 50%);
    justify-content: space-around;
}

.hstyle{
    height: 360px;
    width: 90%;
    background-color: #006DCC;
    color: white;
}

.sok{
    display: none;
}

.menu{
    display: none;
}

.cirkelcontent{
    height: 220px;
    width: 220px;
}

.desktopnunna{
    display: none;
}

.logodesktop{
    font-family: 'Black Ops One', cursive;
    font-size: 3rem;
    display: flex;
    position: absolute;
    height: 150px;
    width: 360px;
    color: white;
    background-color: black;
    top: 10%;
}

.nunnaidesktop{
    display: none;
}

.hmobile{
    display: none;
}





}
